culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.d
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.eep
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.elf
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.lss
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.map
