* text=auto !eol
CVSROOT/checkoutlist -text
CVSROOT/commitinfo -text
CVSROOT/config -text
CVSROOT/cvswrappers -text
CVSROOT/editinfo -text
CVSROOT/loginfo -text
CVSROOT/modules -text
CVSROOT/notify -text
CVSROOT/rcsinfo -text
CVSROOT/taginfo -text
CVSROOT/verifymsg -text
culfw/CHANGED -text
culfw/Devices/CPM-BS/FunkTest/cc1100.c -text
culfw/Devices/CPM-BS/FunkTest/cc1100.h -text
culfw/Devices/CPM-BS/FunkTest/fs20.c -text
culfw/Devices/CPM-BS/FunkTest/fs20.h -text
culfw/Devices/CPM-BS/FunkTest/funktest.c -text
culfw/Devices/CPM-BS/FunkTest/led.h -text
culfw/Devices/CPM-BS/FunkTest/makefile -text
culfw/Devices/CPM-BS/LEDTest/led.h -text
culfw/Devices/CPM-BS/LEDTest/main.c -text
culfw/Devices/CPM-BS/LEDTest/makefile -text
culfw/Devices/CPM-BS/board.h -text
culfw/Devices/CPM-BS/bsfw.c -text
culfw/Devices/CPM-BS/cc1100.c -text
culfw/Devices/CPM-BS/cc1100.h -text
culfw/Devices/CPM-BS/fs20.c -text
culfw/Devices/CPM-BS/fs20.h -text
culfw/Devices/CPM-BS/makefile -text
culfw/Devices/CUL/CUL.c -text
culfw/Devices/CUL/CUL.hex -text
culfw/Devices/CUL/board.h -text
culfw/Devices/CUL/makefile -text
culfw/Devices/CUL/makefile.myusb -text
culfw/Devices/CUN/CUN.c -text
culfw/Devices/CUN/CUN.hex -text
culfw/Devices/CUN/apps-conf.h -text
culfw/Devices/CUN/board.h -text
culfw/Devices/CUN/clock-arch.h -text
culfw/Devices/CUN/makefile -text
culfw/Devices/CUN/makefile.2cons -text
culfw/Devices/CUN/makefile.myusb -text
culfw/Devices/CUN/makefile.v10 -text
culfw/Devices/CUN/uip-conf.h -text
culfw/Devices/CUR/CUR.c -text
culfw/Devices/CUR/CUR.hex -text
culfw/Devices/CUR/board.h -text
culfw/Devices/CUR/board.mk.v2 -text
culfw/Devices/CUR/board.mk.v3 -text
culfw/Devices/CUR/board_v2.h -text
culfw/Devices/CUR/board_v3.h -text
culfw/Devices/CUR/makefile -text
culfw/Devices/CUR/makefile.myusb -text
culfw/MyUSB/Changelog.txt -text
culfw/MyUSB/Common/Atomic.h -text
culfw/MyUSB/Common/BoardTypes.h -text
culfw/MyUSB/Common/ButtLoadTag.h -text
culfw/MyUSB/Common/Common.h -text
culfw/MyUSB/Common/FunctionAttributes.h -text
culfw/MyUSB/Common/ISRMacro.h -text
culfw/MyUSB/Drivers/AT90USBXXX/ADC.h -text
culfw/MyUSB/Drivers/AT90USBXXX/AT90USBXXX67/ADC.h -text
culfw/MyUSB/Drivers/AT90USBXXX/SPI.h -text
culfw/MyUSB/Drivers/AT90USBXXX/Serial.c -text
culfw/MyUSB/Drivers/AT90USBXXX/Serial.h -text
culfw/MyUSB/Drivers/AT90USBXXX/Serial_Stream.c -text
culfw/MyUSB/Drivers/AT90USBXXX/Serial_Stream.h -text
culfw/MyUSB/Drivers/Board/Dataflash.h -text
culfw/MyUSB/Drivers/Board/HWB.h -text
culfw/MyUSB/Drivers/Board/Joystick.h -text
culfw/MyUSB/Drivers/Board/LEDs.h -text
culfw/MyUSB/Drivers/Board/RZUSBSTICK/LEDs.h -text
culfw/MyUSB/Drivers/Board/STK525/AT45DB321C.h -text
culfw/MyUSB/Drivers/Board/STK525/Dataflash.h -text
culfw/MyUSB/Drivers/Board/STK525/HWB.h -text
culfw/MyUSB/Drivers/Board/STK525/Joystick.h -text
culfw/MyUSB/Drivers/Board/STK525/LEDs.h -text
culfw/MyUSB/Drivers/Board/STK526/AT45DB642D.h -text
culfw/MyUSB/Drivers/Board/STK526/Dataflash.h -text
culfw/MyUSB/Drivers/Board/STK526/HWB.h -text
culfw/MyUSB/Drivers/Board/STK526/Joystick.h -text
culfw/MyUSB/Drivers/Board/STK526/LEDs.h -text
culfw/MyUSB/Drivers/Board/Temperature.c -text
culfw/MyUSB/Drivers/Board/Temperature.h -text
culfw/MyUSB/Drivers/Board/USBKEY/AT45DB642D.h -text
culfw/MyUSB/Drivers/Board/USBKEY/Dataflash.h -text
culfw/MyUSB/Drivers/Board/USBKEY/HWB.h -text
culfw/MyUSB/Drivers/Board/USBKEY/Joystick.h -text
culfw/MyUSB/Drivers/Board/USBKEY/LEDs.h -text
culfw/MyUSB/Drivers/Misc/TerminalCodes.h -text
culfw/MyUSB/Drivers/USB/Class/ConfigDescriptor.c -text
culfw/MyUSB/Drivers/USB/Class/ConfigDescriptor.h -text
culfw/MyUSB/Drivers/USB/Class/HIDParser.c -text
culfw/MyUSB/Drivers/USB/Class/HIDParser.h -text
culfw/MyUSB/Drivers/USB/Class/HIDReportData.h -text
culfw/MyUSB/Drivers/USB/HighLevel/Events.c -text
culfw/MyUSB/Drivers/USB/HighLevel/Events.h -text
culfw/MyUSB/Drivers/USB/HighLevel/StdDescriptors.c -text
culfw/MyUSB/Drivers/USB/HighLevel/StdDescriptors.h -text
culfw/MyUSB/Drivers/USB/HighLevel/USBInterrupt.c -text
culfw/MyUSB/Drivers/USB/HighLevel/USBInterrupt.h -text
culfw/MyUSB/Drivers/USB/HighLevel/USBTask.c -text
culfw/MyUSB/Drivers/USB/HighLevel/USBTask.h -text
culfw/MyUSB/Drivers/USB/LowLevel/DevChapter9.c -text
culfw/MyUSB/Drivers/USB/LowLevel/DevChapter9.h -text
culfw/MyUSB/Drivers/USB/LowLevel/Device.h -text
culfw/MyUSB/Drivers/USB/LowLevel/Endpoint.c -text
culfw/MyUSB/Drivers/USB/LowLevel/Endpoint.h -text
culfw/MyUSB/Drivers/USB/LowLevel/Host.c -text
culfw/MyUSB/Drivers/USB/LowLevel/Host.h -text
culfw/MyUSB/Drivers/USB/LowLevel/HostChapter9.c -text
culfw/MyUSB/Drivers/USB/LowLevel/HostChapter9.h -text
culfw/MyUSB/Drivers/USB/LowLevel/LowLevel.c -text
culfw/MyUSB/Drivers/USB/LowLevel/LowLevel.h -text
culfw/MyUSB/Drivers/USB/LowLevel/OTG.h -text
culfw/MyUSB/Drivers/USB/LowLevel/Pipe.c -text
culfw/MyUSB/Drivers/USB/LowLevel/Pipe.h -text
culfw/MyUSB/Drivers/USB/LowLevel/StdRequestType.h -text
culfw/MyUSB/Drivers/USB/LowLevel/StreamCallbacks.h -text
culfw/MyUSB/Drivers/USB/LowLevel/USBMode.h -text
culfw/MyUSB/Drivers/USB/USB.h -text
culfw/MyUSB/LGPL[!!-~]Licence[!!-~]3.0.txt -text
culfw/MyUSB/MemoryAllocator/DynAlloc.c -text
culfw/MyUSB/MemoryAllocator/DynAlloc.h -text
culfw/MyUSB/Scheduler/Scheduler.c -text
culfw/MyUSB/Scheduler/Scheduler.h -text
culfw/MyUSB/Version.h -text
culfw/MyUSB/makefile -text
culfw/README -text
culfw/avr-uip/README -text
culfw/avr-uip/apps/dhcpc/dhcpc.c -text
culfw/avr-uip/apps/dhcpc/dhcpc.h -text
culfw/avr-uip/drivers/enc28j60/avrlibdefs.h -text
culfw/avr-uip/drivers/enc28j60/avrlibtypes.h -text
culfw/avr-uip/drivers/enc28j60/enc28j60.c -text
culfw/avr-uip/drivers/enc28j60/enc28j60.h -text
culfw/avr-uip/drivers/enc28j60/global.h -text
culfw/avr-uip/drivers/enc28j60/network.c -text
culfw/avr-uip/drivers/interfaces/README -text
culfw/avr-uip/drivers/interfaces/network.h -text
culfw/avr-uip/uip/clock.h -text
culfw/avr-uip/uip/lc-addrlabels.h -text
culfw/avr-uip/uip/lc-switch.h -text
culfw/avr-uip/uip/lc.h -text
culfw/avr-uip/uip/psock.c -text
culfw/avr-uip/uip/psock.h -text
culfw/avr-uip/uip/pt.h -text
culfw/avr-uip/uip/timer.c -text
culfw/avr-uip/uip/timer.h -text
culfw/avr-uip/uip/uip-fw.h -text
culfw/avr-uip/uip/uip-neighbor.c -text
culfw/avr-uip/uip/uip-neighbor.h -text
culfw/avr-uip/uip/uip-split.h -text
culfw/avr-uip/uip/uip.c -text
culfw/avr-uip/uip/uip.h -text
culfw/avr-uip/uip/uip_arch.h -text
culfw/avr-uip/uip/uip_arp.c -text
culfw/avr-uip/uip/uip_arp.h -text
culfw/avr-uip/uip/uiplib.c -text
culfw/avr-uip/uip/uiplib.h -text
culfw/avr-uip/uip/uipopt.h -text
culfw/clib/Descriptors.c -text
culfw/clib/Descriptors.h -text
culfw/clib/battery.c -text
culfw/clib/battery.h -text
culfw/clib/cc1100.c -text
culfw/clib/cc1100.h -text
culfw/clib/cdc.c -text
culfw/clib/cdc.h -text
culfw/clib/cdcLUFA.c -text
culfw/clib/clock.c -text
culfw/clib/clock.h -text
culfw/clib/delay.c -text
culfw/clib/delay.h -text
culfw/clib/df.c -text
culfw/clib/df.h -text
culfw/clib/display.c -text
culfw/clib/display.h -text
culfw/clib/ds1339.c -text
culfw/clib/ds1339.h -text
culfw/clib/ethernet.c -text
culfw/clib/ethernet.h -text
culfw/clib/fastrf.c -text
culfw/clib/fastrf.h -text
culfw/clib/fht.c -text
culfw/clib/fht.h -text
culfw/clib/fncollection.c -text
culfw/clib/fncollection.h -text
culfw/clib/fswrapper.c -text
culfw/clib/fswrapper.h -text
culfw/clib/i2cmaster.h -text
culfw/clib/joy.c -text
culfw/clib/joy.h -text
culfw/clib/led.h -text
culfw/clib/log.c -text
culfw/clib/log.h -text
culfw/clib/memory.c -text
culfw/clib/memory.h -text
culfw/clib/menu.c -text
culfw/clib/menu.h -text
culfw/clib/more.c -text
culfw/clib/more.h -text
culfw/clib/mysleep.c -text
culfw/clib/mysleep.h -text
culfw/clib/ntp.c -text
culfw/clib/ntp.h -text
culfw/clib/pcf8833.c -text
culfw/clib/pcf8833.h -text
culfw/clib/qfs.c -text
culfw/clib/qfs.h -text
culfw/clib/rf_receive.c -text
culfw/clib/rf_receive.h -text
culfw/clib/rf_send.c -text
culfw/clib/rf_send.h -text
culfw/clib/ringbuffer.c -text
culfw/clib/ringbuffer.h -text
culfw/clib/spi.c -text
culfw/clib/spi.h -text
culfw/clib/stringfunc.c -text
culfw/clib/stringfunc.h -text
culfw/clib/tcplink.c -text
culfw/clib/tcplink.h -text
culfw/clib/ttydata.c -text
culfw/clib/ttydata.h -text
culfw/clib/twimaster.c -text
culfw/docs/FREQTEST -text
culfw/docs/MyUSB_USBtoSerial.inf -text
culfw/docs/battery.png -text
culfw/docs/culfw.html -text
culfw/docs/culfw.ico -text
culfw/docs/faq.html -text
culfw/fonts/courier.10x17.raw.pgm -text svneol=unset#application/octet-stream
culfw/fonts/courier.8x14.raw.pgm -text svneol=unset#application/octet-stream
culfw/fonts/courier_10x17.inc -text
culfw/fonts/courier_8x14.inc -text
culfw/fonts/house2.ppm -text svneol=unset#application/octet-stream
culfw/fonts/house2_58x60 -text svneol=unset#application/octet-stream
culfw/fonts/pgm2fourbit.pl -text
culfw/lufa/Common/BoardTypes.h -text
culfw/lufa/Common/Common.h -text
culfw/lufa/Common/FunctionAttributes.h -text
culfw/lufa/Drivers/USB/Class/CDC.h -text
culfw/lufa/Drivers/USB/Class/Common/CDC.h -text
culfw/lufa/Drivers/USB/Class/Device/CDC.c -text
culfw/lufa/Drivers/USB/Class/Device/CDC.h -text
culfw/lufa/Drivers/USB/HighLevel/ConfigDescriptor.c -text
culfw/lufa/Drivers/USB/HighLevel/ConfigDescriptor.h -text
culfw/lufa/Drivers/USB/HighLevel/Events.c -text
culfw/lufa/Drivers/USB/HighLevel/Events.h -text
culfw/lufa/Drivers/USB/HighLevel/StdDescriptors.h -text
culfw/lufa/Drivers/USB/HighLevel/StdRequestType.h -text
culfw/lufa/Drivers/USB/HighLevel/StreamCallbacks.h -text
culfw/lufa/Drivers/USB/HighLevel/USBInterrupt.c -text
culfw/lufa/Drivers/USB/HighLevel/USBInterrupt.h -text
culfw/lufa/Drivers/USB/HighLevel/USBMode.h -text
culfw/lufa/Drivers/USB/HighLevel/USBTask.c -text
culfw/lufa/Drivers/USB/HighLevel/USBTask.h -text
culfw/lufa/Drivers/USB/LowLevel/DevChapter9.c -text
culfw/lufa/Drivers/USB/LowLevel/DevChapter9.h -text
culfw/lufa/Drivers/USB/LowLevel/Device.h -text
culfw/lufa/Drivers/USB/LowLevel/Endpoint.c -text
culfw/lufa/Drivers/USB/LowLevel/Endpoint.h -text
culfw/lufa/Drivers/USB/LowLevel/Host.c -text
culfw/lufa/Drivers/USB/LowLevel/Host.h -text
culfw/lufa/Drivers/USB/LowLevel/HostChapter9.c -text
culfw/lufa/Drivers/USB/LowLevel/HostChapter9.h -text
culfw/lufa/Drivers/USB/LowLevel/LowLevel.c -text
culfw/lufa/Drivers/USB/LowLevel/LowLevel.h -text
culfw/lufa/Drivers/USB/LowLevel/OTG.h -text
culfw/lufa/Drivers/USB/LowLevel/Pipe.c -text
culfw/lufa/Drivers/USB/LowLevel/Pipe.h -text
culfw/lufa/Drivers/USB/LowLevel/Template/Template_Endpoint_Control_R.c -text
culfw/lufa/Drivers/USB/LowLevel/Template/Template_Endpoint_Control_W.c -text
culfw/lufa/Drivers/USB/LowLevel/Template/Template_Endpoint_RW.c -text
culfw/lufa/Drivers/USB/LowLevel/Template/Template_Pipe_RW.c -text
culfw/lufa/Drivers/USB/USB.h -text
culfw/lufa/Version.h -text
culfw/tools/CUR.menu.template -text
culfw/tools/checksummer.c -text
culfw/tools/cur_file.pl -text
culfw/tools/logextract.pl -text
culfw/tools/logextract2.pl -text
culfw/tools/t2t.pl -text
culfw/tools/timer.c -text
culfw/tools/timer.gnuplot -text
culfw/tools/xmllist2curmenu.pl -text
culfw/version.h -text
