culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.d
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.eep
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.elf
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.lss
culfw/Devices/CPM-Gardenabodenfeuchtesensor/Release/*.map
culfw/Devices/CUL/*.eep
culfw/Devices/CUL/*.elf
culfw/Devices/CUL/*.lss
culfw/Devices/CUL/*.lst
culfw/Devices/CUL/*.map
culfw/Devices/CUL/*.sym
culfw/Devices/CUL/.dep
culfw/Devices/CUN/*.eep
culfw/Devices/CUN/*.elf
culfw/Devices/CUN/*.lss
culfw/Devices/CUN/*.lst
culfw/Devices/CUN/*.map
culfw/Devices/CUN/*.sym
culfw/Devices/CUN/.dep
culfw/Devices/CUNO/.dep
culfw/Devices/CUNO/Bootloader/.dep
culfw/Devices/CUNO/Bootloader/avrprog_boot.pnproj
culfw/Devices/CUNO/Bootloader/avrprog_boot.pnps
culfw/Devices/CUNO/Bootloader/main.eep
culfw/Devices/CUNO/Bootloader/main.elf
culfw/Devices/CUNO/Bootloader/main.lss
culfw/Devices/CUNO/Bootloader/main.lst
culfw/Devices/CUNO/Bootloader/main.map
culfw/Devices/CUNO/Bootloader/main.sym
culfw/Devices/CUNO/Bootloader/testapp
culfw/Devices/CUNO/Bootloader/testavrdude
culfw/Devices/CUNO/CUNO.eep
culfw/Devices/CUNO/CUNO.elf
culfw/Devices/CUNO/CUNO.lst
culfw/Devices/CUNO/CUNO.map
culfw/Devices/CUR/*.eep
culfw/Devices/CUR/*.elf
culfw/Devices/CUR/*.lss
culfw/Devices/CUR/*.lst
culfw/Devices/CUR/*.map
culfw/Devices/CUR/*.sym
culfw/Devices/CUR/.dep
culfw/avr-uip/apps/dhcpc/dhcpc.lst
culfw/avr-uip/drivers/enc28j60/*.lst
culfw/avr-uip/uip/*.lst
culfw/clib/*.lst
culfw/lufa/Drivers/USB/HighLevel/*.lst
culfw/lufa/Drivers/USB/LowLevel/*.lst

culfw/clib/mbus/*.lst
*.o
culfw/Devices/SCC/*.eep
culfw/Devices/SCC/*.elf
culfw/Devices/SCC/*.lss
culfw/Devices/SCC/*.lst
culfw/Devices/SCC/*.map
culfw/Devices/SCC/*.sym
culfw/Devices/SCC/*.hex
culfw/Devices/SCC/.dep
*.geany
